.view.software {
  border-top: 12px solid var(--color-primary);
}

.view.software > header {
  padding: var(--padding-default);
  border-bottom: 1px solid var(--color-text-dark);
}

.view.software > header h1 {
  margin: 0;
}

.view.software > header h1 > a {
  text-decoration: none;
}

.view.software > header h1 > a > span {
  color: var(--color-primary);
}

section.portfolio {

}

section.portfolio a.link-primary:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

section.portfolio ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

section.portfolio ul li {
  padding: var(--padding-default);
  border-bottom: 1px solid var(--color-text-dark);
  display: flex;
}

section.portfolio ul li .description {
  flex: 1;
  padding-right: var(--padding-default);
  max-width: 750px;
}

section.portfolio ul li .image {
  flex: 0 0 300px;
  height: 150px;
  overflow: hidden;
  border: 6px solid #fff;
  margin: 24px 0;
}

section.portfolio ul li .image img {
  max-width: 100%;
}

/*
  Custom rules for framing thumbnails better
*/

section.portfolio ul li .image img.me {
  margin-top: -30px;
}

section.portfolio ul li .image img.rules-thumbnail {
  max-width: inherit;
  max-height: 200%;
}

/* / */

a.link-back {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 12px;
}

a.link-back:before {
  font-family: Icons;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -3px;
  content: '\e5c4';
}

a.link-back:hover {
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

@media(max-width: 900px) {
  section.portfolio ul li {
    display: block;
  }
  section.portfolio ul li .description {
    flex: none;
  }
  section.portfolio ul li .image {
    flex: none;
  }
}
