.view.software .portfolio {

}

.view.software .portfolio a.link-primary:hover {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

.view.software .portfolio ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.view.software .portfolio ul li {
  padding: var(--padding-default);
  border-bottom: 1px solid var(--color-text-dark);
  display: flex;
}

.view.software .portfolio ul li .description {
  flex: 1;
  padding-right: var(--padding-default);
  max-width: 750px;
}

.view.software .portfolio ul li .image {
  flex: 0 0 300px;
  height: 150px;
  overflow: hidden;
  border: 6px solid #fff;
  margin: 24px 0;
}

.view.software .portfolio ul li .image img {
  max-width: 100%;
}

/*
  Custom rules for framing thumbnails better
*/

.view.software .portfolio ul li .image img.me {
  margin-top: -30px;
}

.view.software .portfolio ul li .image img.rules-thumbnail {
  max-width: inherit;
  max-height: 200%;
}

/* / */

a.link-back {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 12px;
}

a.link-back:before {
  font-family: Icons;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -3px;
  content: '\e5c4';
}

a.link-back:hover {
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

@media(max-width: 900px) {
  .view.software .portfolio ul li {
    display: block;
  }
  .view.software .portfolio ul li .description {
    flex: none;
  }
  .view.software .portfolio ul li .image {
    flex: none;
  }
}

.view.software .portfolio .carousel-container {
  position: relative;
}

.view.software .portfolio .carousel {
}

.view.software .portfolio .carousel::after {
  position: absolute;
  right: 24px;
  display: inline-block;
  content: ' ';
  height: 200px;
  max-height: 100%;
  width: 90px;
  background: linear-gradient(90deg, rgba(38,38,35,0) 0%, rgba(38,38,35,1) 100%);
}

.view.software .portfolio .carousel img {
  max-height: 180px;
  cursor: pointer;
  transition: max-height 0.3s ease-in-out;
}

.view.software .portfolio .carousel img:hover {
  max-height: 200px;
}
